<div class="header-img">
    <img src="Header-1.png">
</div>

<div class="form">
    <div class="tabContainer">
        <div class="buttonContainer">
            <button><b>LOG-IN</b></button>
            <button><b>SIGN UP</b></button>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-body active">
            <div class="form-element">
                <input type="text" placeholder="Username" required/>
            </div>

            <div class="form-element">
                <input type="password" placeholder="Password" required/>
            </div>

            <div class="form-element">
                <button>LOG IN</button>

                <div class="signup-link"><a href=""><b className="forgotpass">Forgot Password?</b></a></div>

            </div>
        </div>

        <div class="tab-body">
            <div class="form-element">
                <input type="text" placeholder="Name" required/>
            </div>

            <div class="form-element">
                <input type="text" placeholder="Email" required/>
            </div>

            <div class="form-element">
                <input type="password" placeholder="Password" required/>
            </div>

            <div class="form-element">
                <input type="confirm password" placeholder="Confirm Password" required/>
            </div>

            <div class="form-element">
                <button>SIGN UP</button>

            </div>
        </div>
    </div>
</div>